<!--
  Generated template for the UserProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row *ngFor="let uItem of uItems">
        <ion-title>{{ uItem.name }}'s Profile</ion-title>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item *ngFor="let item of items" (click)="presentActionSheet()">
    <ion-item class="item">Medication Name: {{ item.med }}</ion-item>
    <ion-item class="item">Dosage: {{ item.dose }} Every {{ item.frq }} Hours</ion-item>
  </ion-item>
</ion-content>
